<h3>Listado de Heroes</h3>

<h4>Normal</h4>
<ul class="mt-2 list-group">
    <li class="list-group-utem">Spiderman</li>
    <li class="list-group-utem">Hulk</li>
    <li class="list-group-utem">IronMan</li>
</ul>

<hr>

<h4>Listado de Heroes</h4>
<div *ngIf = "deletedHero; else nothingWasDeleted">
    <h4>Heroe eliminado <small class="text-danger">{{deletedHero}}</small></h4>
</div>

<ng-template #nothingWasDeleted>
    <h4>No ha borrado nada</h4>
</ng-template>

<button 
    *ngIf = "heroNames.length"
    (click)="removeLastHero()" class="btn btn-outline-danger">
    Borrar ultimo heroe
</button>

<ul class="mt-2 list-group">
    <li *ngFor="let name of heroNames"
    class="list-group-utem">{{name}}</li>    
</ul>
